<mat-card class="dmp-action-card" [class]="{ 'mat-card-info': true }">
  <mat-card-header>
    <mat-icon>sensors</mat-icon>
    <mat-card-title-group>
      <mat-card-title>
        <ng-container *ngIf="(mappReading?.new)">
          <strong>Create Reading</strong>
        </ng-container>
        <ng-container *ngIf="!(mappReading?.new)">
          <strong>{{ mappReading?.dataType }}</strong>
        </ng-container>
      </mat-card-title>
    </mat-card-title-group>
    <div fxFlex></div>
    <div class="header-actions">
      <ng-container *ngIf="(mappReading?.new)">
        <button mat-icon-button [disabled]="(isLocked)" (click)="onCreateClick($event, mappReading)" title="Create Reading" class="btn-create"><mat-icon>save</mat-icon></button>
      </ng-container>
      <ng-container *ngIf="!(mappReading?.new)">
        <button mat-icon-button (click)="onUpdateClick($event, mappReading)" title="Save Reading" class="btn-save"><mat-icon>save</mat-icon></button>
        <button mat-icon-button (click)="onRemoveClick($event, mappReading)" title="Delete Reading" class="btn-remove"><mat-icon>delete</mat-icon></button>
      </ng-container>
    </div>
  </mat-card-header>
  <mat-card-content>

    <form>

      <mat-form-field class="md-icon-left">
        <input
          matInput
          id="mappReadId"
          name="mappReadId"
          placeholder="Reading Id"
          [(ngModel)]="mappReading.readId"
          #mappReadId="ngModel"
          required="required"
          minLength="5"
          maxlength="36" />
        <button *ngIf="!(mappReading?.readId)" mat-button matSuffix mat-icon-button aria-label="Generate" (click)="onGenerateMappReadId($event, mappReading)"><mat-icon>lightbulb</mat-icon></button>
        <button *ngIf="(mappReading?.readId)" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onClearMappReadId($event, mappReading)"><mat-icon>clear</mat-icon></button>
        <mat-hint align="end">{{ mappReadId?.value ? mappReadId?.value?.length : 0 }} / 36</mat-hint>
        <mat-error *ngIf="mappReadId?.invalid && (mappReadId?.dirty || mappReadId?.touched)">
          <div *ngIf="mappReadId?.errors.required">
            Please provide an id for the reading
          </div>
          <div *ngIf="mappReadId?.errors.minlength">
            The reading id should be at least 5 characters long.
          </div>
          <div *ngIf="mappReadId?.errors.maxlength">
            The reading id should not exceed 36 characters.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="md-icon-left">
        <input
          matInput
          id="mappContainerId"
          name="mappContainerId"
          placeholder="Box Id"
          [(ngModel)]="mappReading.containerId"
          #mappContainerId="ngModel"
          required="required"
          minLength="5"
          maxlength="36" />
        <button *ngIf="!(mappReading?.containerId)" mat-button matSuffix mat-icon-button aria-label="Generate" (click)="onGenerateMappContainerId($event, mappReading)"><mat-icon>lightbulb</mat-icon></button>
        <button *ngIf="(mappReading?.containerId)" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onClearMappContainerId($event, mappReading)"><mat-icon>clear</mat-icon></button>
        <mat-hint align="end">{{ mappContainerId?.value ? mappContainerId?.value?.length : 0 }} / 36</mat-hint>
        <mat-error *ngIf="mappContainerId?.invalid && (mappContainerId?.dirty || mappContainerId?.touched)">
          <div *ngIf="mappContainerId?.errors.required">
            Please provide an id for the box
          </div>
          <div *ngIf="mappContainerId?.errors.minlength">
            The box id should be at least 5 characters long.
          </div>
          <div *ngIf="mappContainerId?.errors.maxlength">
            The box id should not exceed 36 characters.
          </div>
        </mat-error>
      </mat-form-field>

      <cmp-mapp-sensor-type-control
        [mappSensorTypeName]="mappReading?.sensorType"
        (change)="onMappSensorTypeChange(mappReading, $event)"
      > </cmp-mapp-sensor-type-control>

      <cmp-mapp-data-type-control
        [mappDataTypeName]="mappReading?.dataType"
        (change)="onMappDataTypeChange(mappReading, $event)"
      > </cmp-mapp-data-type-control>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="md-icon-left">
            <input
              matInput
              id="mappRangeLower"
              name="mappRangeLower"
              type="number"
              placeholder="Lower Range"
              [(ngModel)]="mappReading.rangeLower"
              #mappRangeLower="ngModel" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="md-icon-left">
            <input
              matInput
              id="mappRangeUpper"
              name="mappRangeUpper"
              type="number"
              placeholder="Upper Range"
              [(ngModel)]="mappReading.rangeUpper"
              #mappRangeUpper="ngModel" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="md-icon-left">
            <input
              matInput
              id="mappLatitudee"
              name="mappLatitude"
              type="number"
              placeholder="Latitude"
              [(ngModel)]="mappReading.latitude"
              #mappLatitude="ngModel" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="md-icon-left">
            <input
              matInput
              id="mappLongitude"
              name="mappLongitude"
              type="number"
              placeholder="Longitude"
              [(ngModel)]="mappReading.longitude"
              #mappLongitude="ngModel" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <mat-form-field class="md-icon-left">
            <input
              matInput
              id="mappReadingValue"
              name="mappReadingValue"
              type="number"
              placeholder="Value"
              [(ngModel)]="mappReading.value"
              #mappReadingValue="ngModel" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <cmp-mapp-unit-type-control
            [mappUnitTypeName]="mappReading?.unitType"
            (change)="onMappUnitTypeChange(mappReading, $event)"
          > </cmp-mapp-unit-type-control>
        </div>
      </div>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <ng-container *ngIf="(mappReading?.new)">
      <button mat-button (click)="onDeselectClick($event)"><mat-icon>chevron_left</mat-icon> Cancel</button>  
      <button mat-button color="accent" class="btn-create" [disabled]="(isLocked)" (click)="onCreateClick($event, mappReading)"><mat-icon>check_circle</mat-icon> Create Reading</button>
    </ng-container>
    <ng-container *ngIf="!(mappReading?.new)">
      <button mat-button (click)="onDeselectClick($event)"><mat-icon>first_page</mat-icon> All Readings</button>
      <button mat-button color="accent" (click)="onUpdateClick($event, mappReading)" class="btn-save"><mat-icon>save</mat-icon> Save Changes</button>
    </ng-container>
  </mat-card-actions>
</mat-card>
