<div class="site-container" [ngClass]="">
  
  <app-header
    [title]="title" 
    [isGuest]="true"
  ></app-header>

  <main class="main-content">
    <div class="main-content-wrap">
      <cmp-mapp-reading

      > </cmp-mapp-reading>
      <router-outlet></router-outlet>
    </div>
    <app-footer
      [copyright]="currentYear"
      [author]="author"
      [version]="version"
    > </app-footer>
  </main>

  <div class="app-overlay"></div>
</div>
