<ng-container *ngIf="!(mappReadingList?.length > 0)">
  <ni-alert [color]="'info'" [outline]="true">
    There are currently no readings available.
  </ni-alert>
</ng-container>
<ng-container *ngIf="(mappReadingList?.length > 0)">
  <ng-container *ngIf="(searchText ? (mappReadingList | filterMappReadingListBySearchString: searchText) : mappReadingList) as mappReadingList">
    <mat-card class="dmp-action-card">
      <mat-card-header *ngIf="!(isSearchVisible)">
        <mat-icon>sensors</mat-icon>
        <mat-card-title-group>
          <mat-card-title>
            <strong>Sensor Readings</strong>
            <ni-badge class="ml-2">{{ mappReadingList?.length }}</ni-badge>
          </mat-card-title>
          <mat-card-subtitle>
            <em>Last refreshed: {{ mappReadingListRefreshed | date: 'dd/MMM/yyyy HH:mm' }}</em>
            <ni-badge *ngIf="(searchText)" class="ml-2" [color]="'info'"><em>Filtered by '{{ searchText }}'</em></ni-badge>
          </mat-card-subtitle>
        </mat-card-title-group>
        <div fxFlex></div>
        <div class="header-actions">
          <ng-container *ngIf="!(searchText)">
            <button mat-icon-button class="btn-search" (click)="onSearchShowClick($event)"><mat-icon>search</mat-icon></button>
          </ng-container>
          <ng-container *ngIf="(searchText)">
            <button mat-icon-button class="btn-search-cancel" (click)="onSearchCancelClick($event)" title="Filtered by '{{searchText}}'"><mat-icon>search_off</mat-icon></button>
          </ng-container>
          <button mat-icon-button (click)="onRefreshClick($event)" title="Refresh" class="btn-create"><mat-icon>refresh</mat-icon></button>
          <button mat-icon-button (click)="onAddNewClick($event)" title="Create Reading" class="btn-create"><mat-icon>add</mat-icon></button>
        </div>
      </mat-card-header>
      <mat-card-header *ngIf="(isSearchVisible)">
        <mat-card-title-group>
          <form>
            <mat-form-field class="md-icon-left" [floatLabel]="'never'">
              <input
                matInput
                #mappReadingSearch="ngModel"
                id="mappReadingSearch"
                name="mappReadingSearch"
                placeholder="Search"
                [(ngModel)]="searchText"
                (keyup)="onSearchKeyUp($event)" />
              </mat-form-field>
          </form>
        </mat-card-title-group>
        <div fxFlex></div>
        <div class="header-actions">
          <button mat-icon-button class="btn-cancel" (click)="onSearchCancelClick($event)"><mat-icon>close</mat-icon></button>
        </div>
      </mat-card-header>

        <cmp-mapp-reading-table
          [mappReadingList]="mappReadingList"
          [isFiltered]="isFiltered"
          (select)="onSelect($event)"
        > </cmp-mapp-reading-table>
      
    </mat-card>
  </ng-container>
</ng-container>
