<div
  class="badge"
  [ngClass]="{
    'success-badge': (color === 'success'),
    'info-badge': (color === 'info'),
    'warning-badge': (color === 'warning'),
    'danger-badge': (color === 'danger'),
    'custom-badge': (customColor),
    'outline-badge': (outline),
    'border-radius-badge': (borderRadius),
    'arrow-right-badge': (arrow === 'right'),
    'arrow-left-badge': (arrow === 'left'),
    'large-badge': (size === 'large'),
    'medium-badge': (size === 'medium'),
    'small-badge': (size === 'small'),
    'top-left': (position === 'top-left'),
    'bottom-left': (position === 'bottom-left'),
    'bottom-right': (position === 'bottom-right')}"
  [ngStyle]="{
    'background-color': this.customColor,
    'border-color': this.customColor,
    'color': this.customColor}">
  <div
    *ngIf="arrow"
    class="arrow"
    [ngClass]="{
      'arrow-top': this.arrow === 'top',
      'arrow-right': this.arrow === 'right',
      'arrow-bottom': this.arrow === 'bottom',
      'arrow-left': this.arrow === 'left'}"></div>
  <ng-content></ng-content>
</div>
