<ng-container *ngIf="(mappSensorTypeList$ | async) as mappSensorTypeList">
  <form #frmMappSensorTypeControl="ngForm">
    <mat-form-field class="md-icon-left">
      <mat-select
        #mappSensorType="ngModel"
        id="mappSensorType"
        name="mappSensorType"
        placeholder="Sensor Type"
        [disabled]="disabled"
        [ngModel]="mappSensorTypeName"
        (ngModelChange)="onMappSensorTypeChange($event)"
        required="required">
        <mat-option *ngFor="let mappSensorType of mappSensorTypeList" [value]="mappSensorType.name">
          {{ mappSensorType?.name }}
        </mat-option>
      </mat-select>
      <button
        *ngIf="(mappSensorTypeName) && !(disabled)"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="onMappSensorTypeClear($event, mappSensorTypeName)"
      ><mat-icon>clear</mat-icon></button>
      <mat-error *ngIf="mappSensorType?.invalid && (mappSensorType?.dirty || mappSensorType?.touched)">
        <div *ngIf="mappSensorType?.errors.required">
          Please select a sensor type.
        </div>
      </mat-error>
    </mat-form-field>
  </form>
</ng-container>
