<ng-container *ngIf="(copyright || author)">
  <span class="copyright">Copyright {{copyright}} © {{author}}.</span>
</ng-container>
<ng-container *ngIf="(version)">
  <span class="version">Version {{version}}</span>
</ng-container>
