:host {

  $module-rem: (11px / 16px) * 1rem;

  align-items: center;
  background: #07272d;
  color: #ffffff;
  display: flex;
  font-size: .8rem;
  height: $module-rem * 4;
  justify-content: space-between;
  width: 100%;
  @media only screen and (max-width: 543px) {
    font-size: .7rem;
  }

  .copyright,
  .version {
    padding: 10px ($module-rem * 2);
  }
  .copyright {
    @media only screen and (max-width: 543px) {
      padding-right: 0;

      .rtl & {
        padding-left: 0;
        padding-right: ($module-rem * 2);
      }
    }
  }
}