<ng-container *ngIf="(mappUnitTypeList$ | async) as mappUnitTypeList">
  <form #frmMappUnitTypeControl="ngForm">
    <mat-form-field class="md-icon-left">
      <mat-select
        #mappUnitType="ngModel"
        id="mappUnitType"
        name="mappUnitType"
        placeholder="Unit Type"
        [disabled]="disabled"
        [ngModel]="mappUnitTypeName"
        (ngModelChange)="onMappUnitTypeChange($event)"
        required="required">
        <mat-option *ngFor="let mappUnitType of mappUnitTypeList" [value]="mappUnitType.name">
          {{ mappUnitType?.name }}
        </mat-option>
      </mat-select>
      <button
        *ngIf="(mappUnitTypeName) && !(disabled)"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="onMappUnitTypeClear($event, mappUnitTypeName)"
      ><mat-icon>clear</mat-icon></button>
      <mat-error *ngIf="mappUnitType?.invalid && (mappUnitType?.dirty || mappUnitType?.touched)">
        <div *ngIf="mappUnitType?.errors.required">
          Please select a sensor type.
        </div>
      </mat-error>
    </mat-form-field>
  </form>
</ng-container>
