<ng-container *ngIf="(mappReadingListLoading$ | async)">
  <cmp-content-loader [title]="'Loading Readings...'"></cmp-content-loader>
</ng-container>
<ng-container *ngIf="(mappReadingListLoaded$ | async)">
  <ng-container *ngIf="((mappReadingList$ | async) | filterMappReadingListByNew: false) as mappReadingList">
    <ng-container *ngIf="!(mappReading$ | async)">
      <cmp-mapp-reading-list
        [mappReadingList]="mappReadingList"
        [mappReadingListRefreshed]="(mappReadingListRefreshed$ | async)"
        (refresh)="onRefresh()"
        (addNew)="onAddNew()"
        (select)="onSelect($event)"
      > </cmp-mapp-reading-list>
    </ng-container>
    <ng-container *ngIf="(mappReading$ | async) as mappReading">
      <cmp-mapp-reading-item
        [mappReading]="mappReading"
        (deselect)="onDeselect()"
        (create)="onCreate($event)"
        (update)="onUpdate($event)"
        (remove)="onRemove($event)"
      > </cmp-mapp-reading-item>
    </ng-container>
  </ng-container>
</ng-container>
