<mat-table #table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="readingTs">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date/Time</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row?.readingTs | date: 'dd/MM/yyyy HH:mm:ss' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="containerId">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Box</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row?.containerId }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="sensorType">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row?.sensorType }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="dataType">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Data Type</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row?.dataType }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="rangeLower">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Min</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row?.rangeLower }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="rangeUpper">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Max</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row?.rangeUpper }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="latitude">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Lat</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row?.latitude }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="longitude">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Long</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row?.longitude }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row?.value }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="unitType">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Unit</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row?.unitType }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="rowActions">
    <mat-header-cell *matHeaderCellDef>*</mat-header-cell>
    <mat-cell *matCellDef="let row"><button mat-button (click)="onSelectClick($event, row)"><mat-icon>edit</mat-icon></button></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<mat-paginator [length]="mappReadingList.length" [pageSize]="100"  [pageSizeOptions]="[50, 100, 1000]"></mat-paginator>
