.min-height-sm {
  height: 260px;
  height: auto !important;
  min-height: 260px;
}
.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}
