<mat-card>
  <mat-card-header>
      <mat-card-title><strong>{{title}}</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content class="min-height-sm text-center">
    <mat-spinner class="ml-auto mr-auto vertical-center" mode="indeterminate"></mat-spinner>
  </mat-card-content>
</mat-card>
