@import 'variables';

html, body {
  margin: 0;
  padding: 0;
}

.main-ff {
  font-family: $main-ff !important;
}

.mat-card-header {
  .header-actions {
    flex-shrink:0;
    color: rgba(0,0,0,0.6);
  }

}

$header-height: 64px;

.mat-card.dmp-action-card {
  margin-bottom: 16px;
  padding: 0;

  >.mat-card-header {
    display: flex;
    align-items: center;
    height: $header-height;
    box-sizing: border-box;
    border-bottom: solid 1px rgba(0,0,0,0.12);
    padding-left:16px;
    padding-right:16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .mat-card-title-group {
      margin-left: 16px;
      margin-right: auto;
      min-width: 0;
      flex-direction: column;

      .mat-card-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .mat-card-subtitle {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .mat-card-header-text {
      display:none;
    }

    .title {
      margin-right: auto;
    }
  }

  >.mat-card-content {
    padding: 16px;

    .mat-form-field {
      margin-bottom: 0.5rem;
    }
  }

  

  >.mat-card-actions {
    padding: 16px;
  }
  >.mat-card-actions:last-child { 
    padding-bottom: 8px;
  }

  .mat-tab-body-content {
    overflow: hidden;
  }
}

.dmp-action-card.mat-card-primary {
  >.mat-card-header {
    border-top: 4px solid $border-primary;
    border-bottom: 4px solid $border-primary;
  }
}
.dmp-action-card.mat-card-secondary {
  >.mat-card-header {
    border-top: 4px solid $border-secondary;
    border-bottom: 4px solid $border-secondary;
  }
}
.dmp-action-card.mat-card-success {
  >.mat-card-header {
    border-top: 4px solid $border-success;
    border-bottom: 4px solid $border-success;
  }
}
.dmp-action-card.mat-card-danger {
  >.mat-card-header {
    border-top: 4px solid $border-danger;
    border-bottom: 4px solid $border-danger;
  }
}
.dmp-action-card.mat-card-warning {
  >.mat-card-header {
    border-top: 4px solid $border-warning;
    border-bottom: 4px solid $border-warning;
  }
}
.dmp-action-card.mat-card-info {
  >.mat-card-header {
    border-top: 4px solid $border-info;
    border-bottom: 4px solid $border-info;
  }
}
.dmp-action-card.mat-card-light {
  >.mat-card-header {
    border-top: 4px solid $border-light;
    border-bottom: 4px solid $border-light;
  }
}
.dmp-action-card.mat-card-dark {
  >.mat-card-header {
    border-top: 4px solid $border-dark;
    border-bottom: 4px solid $border-dark;
  }
}
.dmp-action-card.mat-card-white {
  >.mat-card-header {
    border-top: 4px solid $border-white;
    border-bottom: 4px solid $border-white;
  }
}
.dmp-action-card.mat-card-transparent {
  >.mat-card-header {
    border-top: 4px solid $border-transparent;
    border-bottom: 4px solid $border-transparent;
  }
}
.dmp-action-card.mat-card-muted {
  >.mat-card-header {
    border-top: 4px solid $border-muted;
    border-bottom: 4px solid $border-muted;
  }
}

.breadcrumb.custom-2[_ngcontent-c7] li[_ngcontent-c7] a[_ngcontent-c7],
.breadcrumb.custom-2[_ngcontent-c7] li[_ngcontent-c7] .static[_ngcontent-c7] {
  padding-top: 4px !important;
}

// Mat List
.mat-list-item {
  border-top: 1px solid $border-default;
  border-right: 1px solid $border-default;
  border-left: 1px solid  $border-default;

  .max-width-sm {
    display: inline-flex;
    max-width: 40%;

    .truncate {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.mat-list-item:last-child{
  border-bottom: 1px solid $border-default;
}
.mat-list-item-state {
  border-left: 10px transparent;
  box-sizing: border-box;
}
.mat-list-item-primary {
  border-left: 10px solid $border-primary;
}
.mat-list-item-secondary {
  border-left: 10px solid $border-secondary;
}
.mat-list-item-success {
  border-left: 10px solid $border-success;
}
.mat-list-item-danger {
  border-left: 10px solid $border-danger;
}
.mat-list-item-warning {
  border-left: 10px solid $border-warning;
}
.mat-list-item-info {
  border-left: 10px solid $border-info;
}
.mat-list-item-light {
  border-left: 10px solid $border-light;
}
.mat-list-item-dark {
  border-left: 10px solid $border-dark;
}
.mat-list-item-white {
  border-left: 10px solid $border-white;
}
.mat-list-item-transparent {
  border-left: 10px solid $border-transparent;
}
.mat-list-item-muted {
  border-left: 10px solid $border-muted;
}

.mat-list-base {
  .mat-list-item {
    .mat-line.no-truncate {
      white-space: normal;
    }
  }
}

.max-height-sm {
  position: relative;
  height: 340px;
  height: auto !important;
  max-height: 340px;
  padding-bottom: 1px;
  overflow: auto;
}

.max-height-md {
  position: relative;
  height: 540px;
  height: auto !important;
  max-height: 540px;
  padding-bottom: 1px;
  overflow: auto;
}

button.mat-menu-item.active {
  color: $info-color;
  font-weight: bold;
}

.mat-snack-bar-container.error {
  background-color: $error-color;
  color: $main-text-color;

  .mat-button{
    color: $main-text-color;
  }
}

.snackbar-warning {
  background-color: $warning-color;
  color: $main-text-color;
}

.snackbar-warning .mat-simple-snackbar-action {
  background-color: $border-warning;
  color: $main-text-color;
}

mat-expansion-panel {
  mat-expansion-panel-header {
    mat-panel-title-group {
      display: flex;
      flex-direction: column;
      min-width: 0;
      mat-panel-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        strong {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      mat-panel-subtitle {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    mat-panel-title.no-subtitle {
      padding-top: 11px;
    }
    mat-expansion-panel-description {
      .header-actions {
        display: flex;
        flex-direction: row-reverse;
      }
    }
    .mat-content {
      justify-content: space-between;
    }
  }
  &.mat-expanded {
    mat-expansion-panel-header {
      min-height: 64px;
      height: auto !important;

      mat-panel-title-group {
        mat-panel-title {
          overflow: visible;
          white-space: normal;
          strong {
            overflow: visible;
            white-space: normal;
          }
        }
        mat-panel-subtitle {
          overflow: visible;
          white-space: normal;
        }
      }
    }
    &.has-footer {
      padding-bottom: 40px;
    }
  }
  &.has-footer {
    mat-expansion-panel-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 50px;
      width: 100%;
    }
  }
}

.input-group-addon,
.input-group-btn {
  display: flex;
  flex-direction: row;
}
