.mat-tab-group.mat-tab-group-sm .mat-tab-label {
    min-width: 100px;
}

.mat-tab-group.mat-tab-group-icons-only .mat-tab-label {
    min-width: 60px;
}

.mat-card-header .buttons-list .mat-mini-fab {
    margin-left: 5px;
}

.mat-card-success > .mat-card-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #81c784;
    border-bottom: 2px solid #81c784;
}

.mat-card-success > .mat-card-header .mat-card-avatar {
    color: #81c784;
}

.mat-card-warning > .mat-card-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #ec971f;
    border-bottom: 2px solid #ec971f;
}

.mat-card-warning > .mat-card-header .mat-card-avatar {
    color: #ec971f;
}

.mat-card-danger > .mat-card-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #e24d4d;
    border-bottom: 2px solid #e24d4d;
}

.mat-card-danger > .mat-card-header .mat-card-avatar {
    color: #e24d4d;
}

.mat-card-avatar {
    text-align: center;
}

.mat-list-item.active {
    background-color: #fafafa;
} 

.mat-list-item-warning .mat-list-icon {
    color: #ec971f;
}
  
.mat-list-item-danger .mat-list-icon {
    color: #a94442;
}

.mat-list-item-success .mat-list-icon {
    color: #3c763d;
}

.mat-list-item-info .mat-list-icon {
    color: #31708f;
}

.mat-panel-success {
    border-color: #d6e9c6;
}

.mat-panel-success .mat-expansion-panel-header {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.mat-panel-warning {
    border-color: #faebcc;
}

.mat-panel-warning .mat-expansion-panel-header {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.mat-panel-danger {
    border-color: #ebccd1;
}

.mat-panel-danger .mat-expansion-panel-header {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
