<ng-container *ngIf="(mappDataTypeList$ | async) as mappDataTypeList">
  <form #frmMappDataTypeControl="ngForm">
    <mat-form-field class="md-icon-left">
      <mat-select
        #mappDataType="ngModel"
        id="mappDataType"
        name="mappDataType"
        placeholder="Data Type"
        [disabled]="disabled"
        [ngModel]="mappDataTypeName"
        (ngModelChange)="onMappDataTypeChange($event)"
        required="required">
        <mat-option *ngFor="let mappDataType of mappDataTypeList" [value]="mappDataType.name">
          {{ mappDataType?.name }}
        </mat-option>
      </mat-select>
      <button
        *ngIf="(mappDataTypeName) && !(disabled)"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="onMappDataTypeClear($event, mappDataTypeName)"
      ><mat-icon>clear</mat-icon></button>
      <mat-error *ngIf="mappDataType?.invalid && (mappDataType?.dirty || mappDataType?.touched)">
        <div *ngIf="mappDataType?.errors.required">
          Please select a data type.
        </div>
      </mat-error>
    </mat-form-field>
  </form>
</ng-container>
