<a href="#" class="logo">
  <img [src]="logoUrl" [alt]="logoAlt" [width]="logoWidth" [height]="logoHeight" class="logo-img">
</a>

<span class="compress-logo">
  <img [src]="logoSmUrl" [alt]="logoSmAlt" [width]="logoSmWidth" [height]="logoSmHeight" class="logo-img">
</span>
